/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}
.container-fluid{
    width: 100%;
    background-color: #fff3e0;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 0;
    width: 100%;
    background-color: #fff;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {
    background-color: #f39800;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */

 .login-users{
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
    height: 100vh;
 }
.room-login_user {
 }
 .userlist{
    background-color: #fcdca4;
    margin: 0;
    padding: 20px;
    color: #242424;
 }

 .users{
    background-color: #ececec;
    margin: 0;
    padding-top: 10px;
    padding-left: 10px;
    height: 100vh;
    overflow-y: auto;
    border-bottom:solid;
    border-color:#f39800;
    border-width:3px;
 }

 .username{
    margin: 0;
    padding: 10px;
 }
 .main {
    display: inline-block;
    vertical-align: top;
    overflow-y: auto;
    height: 100vh;
    width: 100vh;
}

.room-message{

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

}

.room-exit {

}

.room-exit_button {

}
