/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}
.container2{
    width: 100%;
    background-color: #fff3e0;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 0;
    width: 100%;
    background-color: #f300e0;
}

.users {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    display: inline-block;
    vertical-align: top;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {
    background-color: #f39800;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

}

.room-exit {

}

.room-exit_button {

}
