/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 20px;
}

.users {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.main {
    display: inline-block;
    vertical-align: top;
}

/*
 * ボタンの共通設定
 */
.common-button {

}

/*
 * トップ画面（index.hbs）に関する設定
 */
.index-user_name {

}

.index-user_name_text {
    width: 200px;
}

.index-enter {

}

.index-enter_button {
    background-color: #f39800;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */
.room-login_user {

 }

.room-message {

}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {

}

.room-memo_button {

}

.room-thread {

}

.room-exit {

}

.room-exit_button {

}

.login{
    background-color: #f29800;
    padding-top: 10%;
    padding-bottom: 10%;
}

.card{
    width: 30rem;
}

@media screen and (max-width: 1000px) {
    .login {
        padding-top: 60%;
        padding-bottom: 100%;
    }
    .card{
        width: 30rem;
    }
}

